<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rental receipt</title>
</head>
<body>
    <h1>Rental receipt:</h1>
    <hr size="2">
    <div>
        <table class="table">
            <tr>
                <td>Day rented: </td>
                <td th:text="${rental.daysRented}"></td>
            </tr>
            <tr>
                <td>Movie title: </td>
                <td th:text="${movie.title}"></td>
            </tr>
            <tr>
                <td>Amount: </td>
                <td th:text="${amount}"></td>
            </tr>

            <tr>
                <td>Customer name: </td>
                <td th:text="${customer.name}"></td>
            </tr>
        </table>
    </div>
</body>
</html>